<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.initvent.janitorsystem"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
   	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> 
   	<uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" > 
	</uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.initvent.janitorsystem.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.initvent.janitorsystem.MainActivity"
            android:label="@string/main_name" >
        </activity>
        <activity android:name="com.initvent.janitorsystem.TaskActivity"
                  android:label="@string/task_name" >
            
        </activity>
        <activity android:name="com.initvent.janitorsystem.InfoActivity"
                  android:label="@string/info_name" >
        </activity>
        <activity android:name="com.initvent.janitorsystem.AttachmentActivity"
            android:label="@string/attachment_name" >
        </activity>
        <activity android:name="com.initvent.janitorsystem.PhotoAddActivity"></activity>
        <activity android:name="com.initvent.janitorsystem.LoginActivity"
                  android:label="@string/login_name" >
        </activity>
        <activity android:name="com.initvent.janitorsystem.SessionManager"></activity>
        <activity android:name="com.initvent.janitorsystem.AlertDialogManager"></activity>
        <activity android:name="com.initvent.janitorsystem.MasterActivity"></activity>
        <activity android:name="com.initvent.janitorsystem.NewBuildingActivity"></activity>
        <activity android:name="com.initvent.janitorsystem.NewTasktypeActivity"></activity>
        <activity android:name="com.initvent.janitorsystem.NewTenant"></activity>
        <activity android:name="com.initvent.janitorsystem.UpdateDeleteTask"
                  android:label="@string/task_update_name" >
        </activity>
        <activity android:name="com.initvent.janitorsystem.AttachmentAddActivity"
                  android:label="@string/attachment_name" >
        </activity>
        <activity android:name="com.initvent.janitorsystem.AttachmentUpdateActivity"
                   android:label="@string/attachment_update_name" >
        </activity>
        <activity android:name="com.initvent.janitorsystem.InfoListActivity"
                  android:label="@string/infolist_name" >
        </activity>
        <activity android:name="com.initvent.janitorsystem.FinishedTaskActivity"
                  android:label="@string/finishedtask_name" >
        </activity>
        <activity android:name="com.initvent.janitorsystem.UpdateTaskTimeActivity"
                  android:label="@string/finishedtask_name" >
        </activity>
                <activity android:name="com.initvent.janitorsystem.UpdateDeleteInfoActivity"
                  android:label="@string/info_name" >
        </activity>
        
     </application>

</manifest>
